@media only screen and (max-width: 1600px) {
    .nav-link {
        font-size: 18px !important;
    }

    .navbar .navbar-brand {
        padding: 18px !important;
    }

    .navbar h1 {
        font-size: 18px !important;
    }
}


@media only screen and (max-width: 1280px) {
    .nav-link {
        font-size: 15px !important;
    }

    .navbar .navbar-brand {
        padding: 15px !important;
    }

    .navbar h1 {
        font-size: 15px !important;
    }

    .main-footer .footer-details .footer-form
    {
        width: 90%;
    }
}


@media only screen and (max-width: 1140px) {

    .main-content-head .header-text {
        padding: 40px 8px !important;
    }

    .nav-link {
        font-size: 12px !important;
    }

    .navbar .navbar-brand {
        padding: 12px !important;
    }

    .navbar h1 {
        font-size: 12px !important;
    }

    .hamburger:focus {
        outline: none;
    }

    .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
        background-color: white;
        &::before{
            background-color: white;
        }
        &::after{
            background-color: white;
        }
    }

    .hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner::before, .hamburger.is-active .hamburger-inner::after {
        background-color: white;
    }

    .hamburger:hover {
        opacity: 1 !important;
    }
    
}

@media only screen and (max-width: 1024px) {

.form-details input::placeholder {
    font-size: 17px !important;
}

    .main-footer .footer-details .footer-form{
        width: 90% !important;
    }

    .main-content-head .header-text {
        padding: 50px 8px !important;
    }

    .main-content-head .header-text h5
    {
        font-size: 65px;
        line-height: 85px;
    }

    .our-spreads .spreads .trade-list ul li {
        font-size: 27px;
    }

    .navbar h1
    {
        font-size: 25px !important;
    }
    .navbar .nav-item .nav-link
    {
        font-size: 18px !important;
    }

    .index-benefits .container {
        max-width: 995px;
    }

    .main-content-head .container {
        max-width: 995px;
    }
}

@media only screen and (max-width: 930px) {
    .main-footer .footer-details .footer-form{
        width: 90% !important;
    }

    .main-content-head .header-text {
        padding: 0px 8px !important;
    }

    .main-content-head .header-text h5
    {
        font-size: 65px;
        line-height: 85px;
    }

    .our-spreads .spreads .trade-list ul li {
        font-size: 27px;
    }

    .navbar h1
    {
        font-size: 25px !important;
    }
    .navbar .nav-item .nav-link
    {
        font-size: 18px !important;
    }

    .index-benefits .container {
        max-width: 995px;
    }

    .main-content-head .container {
        max-width: 995px;
    }
}

@media only screen and (max-width: 768px) {

    


    .main-content-head .header-form .form-details

    {
        padding: 1rem 0.5rem !important;
    }

    .trade-list {
       margin-top: 1rem !important;

        ul {
        display: block !important;
        margin-left: -4px !important;
            li {
            font-size: 25px !important;
        }
    }
}


    .main-content-head .container {
        max-width: 735px;
    }

    .main-footer .footer-details .footer-form form {
        padding: 30px 44px !important;
       
    }

    .main-footer .footer-details .footer-form {
        margin-right: 10px !important;
    }


    .get-free {
        display: block !important;
        div {
            margin-left: 0px !important;
        }
    }

    .our-spreads .spreads .trade-list ul li
    {
        font-size: 22px;
    }

    .our-spreads .spreads .trade-list ul li {
        margin: 0px 35px !important;
    }

    .index-benefits .container {
        max-width: 735px;
    }


    .pay-img {
        margin: 60px auto 0px auto;
    }
    

    .main-footer .footer-details .footer-form{
        width: auto !important;
        top: auto !important;
    }
    .partners-detail .partners-content-1 .content-1-body{
        padding: 0px !important;
    }
    .partners-detail .partners-content-2 .content-2-body{
        padding: 0px !important;
    }

    .about-stox {
        padding: 40px !important;
    }

    .about-stox .about-stox-content .about-content-1 p
    {
        margin-left: 35px !important;
    }

    .about-stox .about-stox-content .about-content-2 p
    {
        margin-left: 35px !important;
    }

    .main-content-head .header-text h2 {
        line-height: 85px !important;
    }

    .main-content-head .header-text h5
    {
        line-height: 75px !important;
    }

    .main-content-head .header-text h1
    {
        line-height: 121px !important;
    }

    .header-text {
        padding: 35px 8px !important;
    }

    .partners-detail {
        padding: 30px 60px !important;
    }

    .partners-detail {
        margin-top: -100% !important;
    }

    .glossary-detail {
        margin-top: -100% !important;
    }

    .glossary-detail .glossary_items {
        padding: 40px 0px !important;
    }

    .glossary-detail .glossary_items .single-item p {
padding-left: 70px !important;     
    }

    .single-item h1 {
        left: 0px !important;
    }
}

@media only screen and (max-width: 767px) {

    .sign-up-form input {
        width: 100% !important;
    }

    .login-in-form input {
        width: 100% !important;
    }


    #phone::placeholder {
        padding-right: 45px !important;
    }


    .glossary-detail {
        margin-top: -100% !important;
    }


    .index-benefits .benefits .benefit-1 div p
     {
         margin-top: 20px;
     }

    .main-footer .footer-details .footer-form {
        margin-right: 0px !important;
    }

   

    .img_header{
        // padding:0px 45px;
        h4{
            font-weight: 500;
            font-size: 36px;
            line-height: 43px;
            color: #02033D;
            display: block !important;
            img {
                float: unset !important;
                width: 60% !important;
                height: auto !important;
                display: flex;
                margin: 0 auto 20px auto !important;
                margin-bottom: 20px; 
                margin-left: auto !important;
            }
        }
    }

    .glossary-detail .glossary_items .single-item
    {
        padding: 15px 0px !important;
    }

    .about-stox .about-stox-content .about-content-1 p
    {
        margin-left: 0px !important;
    }

    .about-content-1 img {
        width: auto !important;
        display: flex;
        margin: 0 auto;
    }


    .about-stox .about-stox-content .about-content-2 p
    {
        margin-left: 0px !important;
    }

    .about-content-2 img {
        width: auto !important;
        display: flex;
        margin: 0 auto;
    }
    .navbar h1 {
        font-size: 20px !important;
    }

    .single-item h1 {
        display: none;
    }

    // .glossary-detail {
    //     margin-top: -200%  !important;
    // }

    
    

    .form-mail img {
        width: auto !important;
    }
    .navbar-brand {
        padding: 15px !important;
    }
    
    .nav-item{
        padding: 10px 23px !important;
    }

    .main-content-head .header-text{
        padding: 30px  8px !important;    
    }

    .main-content-head .header-text h1 {
        font-size: 80px;
    }
    .main-content-head .header-text h2{
        font-size: 25px;
        line-height: 45px !important;
    }

    .main-content-head .header-text h3 {
        font-size: 22px;
    }

    .main-content-head .header-text h4{
        font-size: 18px;
    }

    .form-details {
        display: block !important;
    }

    .main-content-head .header-form .form-details {
        padding: 0.5rem 1.5rem !important;
    }
    
    .main-content-head .header-form .form-details input {
        margin: 10px 0px !important;
    }

    .main-content-head .header-form .form-details .btn-submit {
        margin-left: 0px !important;
    }
    
    .benefit-1 {
        display: block !important;
    }

    .benefit-1 img {
        width: 60% !important;
        display: flex;
        margin: 0 auto;
    }

    .benefits {
        padding: 20px 0px !important;
    }

    .index-benefits .benefits .benefits-header h1 {
        font-size: 55px;
    }

    .index-benefits .benefits .benefit-1 div {
        margin: 0px !important;
        margin-top: 20px !important;
    }
    
    .our-spreads .spreads .spreads-circles {
        display: block !important;
    }

    .spreads{
        padding: 40px 0px !important;
    }
    
    .our-spreads .spreads .spreads-circles .circle-1 {
        margin: 0 auto !important;
    }

    .about-stox {
        padding: 20px !important;
        h1 {
            font-size: 55px !important;
        }
    }

    

    .about-stox-content {
        .about-content-1 {
            display: block !important;
            p{
                margin-left: 0px !important;
                margin-top: 20px;
            }
           
        }
    }

    .about-content-2 {
        display: block !important;
        p{
            margin-left: 0px !important;
            margin-top: 20px;
        }
    }

    .footer-form {
        width: 100% !important;
        position:  relative !important;
        top: auto !important;
    }

    .main-footer .footer-details .footer-form form{
        padding: 30px 20px !important;
    }

    .pay-img {
        width: 100% !important;
    }

    .navigation {
        ul {
            padding: 0px !important;
            display: block !important;
            li {
                margin: 0px !important;
                &::after{
                    content: "";
                    width: 0px !important;
                    height: 0px !important;

                }
            }
        }
    }

    .partners-detail .partners-content-2 .content-2-body{
        padding: 0px !important;
    }

    .partners-detail .partners-content-1 .content-1-body{
        padding: 0px !important;
    }

    .partners-detail{
        padding: 10px !important;
        margin-top: -210% !important;
    }


    .our-spreads .spreads .trade-list ul {
        display: block;
    }

    .main-content-head .header-text h5
    {
        line-height: 60px !important;
        font-size: 50px;
    }

    .content-1-body {
        display: flex;
        flex-direction: column;
    }

    .partners-detail .partners-content-1 .content-1-body h2 {
        font-size: 38px;
    }

    .partners-detail .partners-content-1 .content-1-body .img_header p{
        padding-left: 0px;
    }

    .partners-detail .partners-content-1 .content-1-body img
    {
        margin-bottom: 50px;
    }

    // Glossary

    #search::placeholder{
        font-size: 30px;
    }


    .glossary-detail {
        padding: 30px 20px;
    }

    .glossary-detail .glossary_search {
        width: 100%;
    }

    .glossary-detail .glossary_search img {
        width: auto !important;
    }

    .glossary-detail .glossary_items{
        padding: 40px 0px;
    }
    
    .glossary-detail .glossary_items .single-item{
        display: block;
    }

    .glossary-detail .glossary_items .single-item h4 {
        width: 100%;
    }

    .glossary-detail .glossary_items .single-item p{
        width: 100%;
        padding-left: 0px !important;
    }

    // .header-form {
    //     margin-top: 60px;
    // }

    .iti--separate-dial-code {
        width: 100%;
        height: 60px !important;
        margin-top: 10px !important;
    }

    .form-details input {
        height: 60px !important;
    }

    .btn-submit {
        margin-top: 20px;
        margin-bottom: 15px;
    }

    .our-spreads .spreads .spreads-header h1 {
        font-size: 33px;
        line-height: 0px !important;
        padding: 0 45px;
    }


    .our-spreads .spreads .trade-list ul li:first-child {
        margin: 0 51px !important;
    }
    

    .our-spreads .spreads .trade-list ul li
    {
        margin: 0 51px !important;
    }


    #phone {
        margin: 0px !important;
        height: 100% !important;
    }

}


@media only screen and (max-width: 500px) {

    .glossary-detail {
        margin-top: -170% !important;
    }
}


@media only screen and (max-width: 320px) {

    .spreads {
        padding: 10px 0px !important;
    }

    .our-spreads .spreads .spreads-header h1
    {
        line-height: 40px !important;
    }


    .partners-detail .partners-content-1 .content-1-body h2 {
        font-size: 32px !important;
    }

    .navbar h1 {
        font-size: 15px !important;
    }
    .partners-detail .partners-head h1{
        font-size: 55px !important;
    }
    .main-content-head .header-text h2{
        font-size: 30px;
        line-height: 45px;
    }

    .main-content-head .header-text h3 {
        line-height: 40px;
    }
    .main-content-head .header-text h1 {
        font-size: 60px  !important;
    }

    .main-content-head .header-text h4 {
        font-size: 16px;
        line-height: 24px;
    }


}

