@media only screen and (max-width: 1600px) {
    .nav-link {
        font-size: 18px !important;
    }

    .navbar .navbar-brand {
        padding: 18px !important;
    }

    .navbar h1 {
        font-size: 18px !important;
    }
}


@media only screen and (max-width: 1280px) {
    .nav-link {
        font-size: 15px !important;
    }

    .navbar .navbar-brand {
        padding: 15px !important;
    }

    .navbar h1 {
        font-size: 15px !important;
    }
}


@media only screen and (max-width: 1140px) {
    .nav-link {
        font-size: 12px !important;
    }

    .navbar .navbar-brand {
        padding: 12px !important;
    }

    .navbar h1 {
        font-size: 12px !important;
    }

    .hamburger:focus {
        outline: none;
    }

    .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
        background-color: white;
        &::before{
            background-color: white;
        }
        &::after{
            background-color: white;
        }
    }

    .hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner::before, .hamburger.is-active .hamburger-inner::after {
        background-color: white;
    }

    .hamburger:hover {
        opacity: 1 !important;
    }
    
}

@media only screen and (max-width: 1024px) {
    .main-footer .footer-details .footer-form{
        width: 485px !important;
    }

    .main-content-head .header-text {
        padding: 25px 8px !important;
    }
}

@media only screen and (max-width: 768px) {
    .main-footer .footer-details .footer-form{
        width: auto !important;
        top: auto !important;
    }
    .partners-detail .partners-content-1 .content-1-body{
        padding: 0px !important;
    }
    .partners-detail .partners-content-2 .content-2-body{
        padding: 0px !important;
    }

    .about-stox {
        padding: 40px !important;
    }

    .about-stox .about-stox-content .about-content-1 p
    {
        margin-left: 35px !important;
    }

    .about-stox .about-stox-content .about-content-2 p
    {
        margin-left: 35px !important;
    }

    .main-content-head .header-text h2 {
        line-height: 85px !important;
    }

    .main-content-head .header-text h5
    {
        line-height: 105px !important;
    }

    .main-content-head .header-text h1
    {
        line-height: 121px !important;
    }

    .header-text {
        padding: 35px 8px !important;
    }

    .partners-detail {
        padding: 30px 60px !important;
    }

    .partners-detail {
        margin-top: -100% !important;
    }

    .glossary-detail {
        margin-top: -100% !important;
    }

    .glossary-detail .glossary_items {
        padding: 40px 0px !important;
    }

    .glossary-detail .glossary_items .single-item p {
padding-left: 70px !important;     
    }
}

@media only screen and (max-width: 767px) {

    .glossary-detail {
        margin-top: -200%  !important;
    }

    
    img {
        width: 100%;
    }

    .form-mail img {
        width: auto !important;
    }
    .navbar-brand {
        padding: 15px !important;
    }
    
    .nav-item{
        padding: 10px 23px !important;
    }

    .main-content-head .header-text{
        padding: 0px;    
    }

    .main-content-head .header-text h1 {
        font-size: 80px;
    }
    .main-content-head .header-text h2{
        font-size: 25px;
        line-height: 45px !important;
    }

    .main-content-head .header-text h3 {
        font-size: 22px;
    }

    .main-content-head .header-text h4{
        font-size: 18px;
    }

    .form-details {
        display: block !important;
    }

    .main-content-head .header-form .form-details {
        padding: 0.5rem 1.5rem !important;
    }
    
    .main-content-head .header-form .form-details input {
        margin: 10px 0px !important;
    }

    .main-content-head .header-form .form-details .btn-submit {
        margin-left: 0px !important;
    }
    
    .benefit-1 {
        display: block !important;
    }

    .benefit-1 img {
        width: auto !important;
        display: flex;
        margin: 0 auto;
    }

    .benefits {
        padding: 20px 0px !important;
    }

    .index-benefits .benefits .benefits-header h1 {
        font-size: 55px;
    }

    .index-benefits .benefits .benefit-1 div {
        margin: 0px !important;
        margin-top: 20px !important;
    }
    
    .our-spreads .spreads .spreads-circles {
        display: block !important;
    }

    .spreads{
        padding: 40px 0px !important;
    }
    
    .our-spreads .spreads .spreads-circles .circle-1 {
        margin: 0 auto !important;
    }

    .about-stox {
        padding: 20px !important;
        h1 {
            font-size: 55px !important;
        }
    }

    

    .about-stox-content {
        .about-content-1 {
            display: block !important;
            p{
                margin-left: 0px !important;
                margin-top: 20px;
            }
           
        }
    }

    .about-content-2 {
        display: block !important;
        p{
            margin-left: 0px !important;
            margin-top: 20px;
        }
    }

    .footer-form {
        width: 100% !important;
        position:  relative !important;
        top: auto !important;
    }

    .main-footer .footer-details .footer-form form{
        padding: 30px 20px !important;
    }

    .pay-img {
        width: 100% !important;
    }

    .navigation {
        ul {
            padding: 0px !important;
            display: block !important;
            li {
                margin: 0px !important;
                &::after{
                    content: "";
                    width: 0px !important;
                    height: 0px !important;

                }
            }
        }
    }

    .partners-detail .partners-content-2 .content-2-body{
        padding: 0px !important;
    }

    .partners-detail .partners-content-1 .content-1-body{
        padding: 0px !important;
    }

    .partners-detail{
        padding: 10px !important;
        margin-top: -210% !important;
    }


    .our-spreads .spreads .trade-list ul {
        display: block;
    }

    .main-content-head .header-text h5
    {
        line-height: 60px !important;
        font-size: 50px;
    }

    .content-1-body {
        display: flex;
        flex-direction: column;
    }

    .partners-detail .partners-content-1 .content-1-body h2 {
        font-size: 38px;
    }

    .partners-detail .partners-content-1 .content-1-body .img_header p{
        padding-left: 0px;
    }

    .partners-detail .partners-content-1 .content-1-body img
    {
        margin-bottom: 50px;
    }

    // Glossary

    #search::placeholder{
        font-size: 30px;
    }


    .glossary-detail {
        padding: 30px 20px;
    }

    .glossary-detail .glossary_search {
        width: 100%;
    }

    .glossary-detail .glossary_search img {
        width: auto !important;
    }

    .glossary-detail .glossary_items{
        padding: 40px 0px;
    }
    
    .glossary-detail .glossary_items .single-item{
        display: block;
    }

    .glossary-detail .glossary_items .single-item h4 {
        width: 100%;
    }

    .glossary-detail .glossary_items .single-item p{
        width: 100%;
        padding-left: 0px;
    }

    // .header-form {
    //     margin-top: 60px;
    // }

    .iti--separate-dial-code {
        width: 100%;
    }

    .form-details input {
        height: 50px !important;
    }

    .btn-submit {
        margin-top: 20px;
    }

    .our-spreads .spreads .spreads-header h1 {
        font-size: 38px;
        padding: 0 45px;
    }


    .our-spreads .spreads .trade-list ul li:first-child {
        margin: 0 51px !important;
    }
    

}


@media only screen and (max-width: 320px) {
    .partners-detail .partners-head h1{
        font-size: 55px !important;
    }
    .main-content-head .header-text h2{
        font-size: 30px;
        line-height: 45px;
    }

    .main-content-head .header-text h3 {
        line-height: 40px;
    }
    .main-content-head .header-text h1 {
        font-size: 60px  !important;
    }

    .main-content-head .header-text h4 {
        font-size: 16px;
        line-height: 24px;
    }


}

